{% extends "base.html" %}

{% block body %}
    {% if  user.pk == task.created_by.pk %}
        <div>
            <h3>               
                {{ task }} 
                <span class="badge" style="background: {{task.status.color}}; color: {{task.status.text_color}};"> {{ task.status }} </span>
                {% if task.level.project.name %}
                    <span class="badge badge-secondary"> {{ task.level.project.name }} </span>
                {% endif %}
            </h3>
            <span class="h5">Start date:</span> {{ task.start_date|date:"d M. Y" }}
            <span class="h5"> Finish date:</span> {{ task.finish_date|date:"d M. Y" }}
        </div>
        <hr>
        <div class="markdown-content">{{ task.description }}</div>
    {% else %}
        <div class="alert alert-danger mr-1"> You don't have permissions for view, change and delete this task! </div>
    {% endif %}
{% endblock body %}

{% block actions %}
    {% if  user.pk == task.created_by.pk %}
        <div class="btn-group-vertical btn-block">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#updateTaskModal">
                Edit
            </button>
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">
                Delete
            </button>
        </div>
        {% include 'tasks/update_task.html' %}
        {% include "tasks/delete_task.html" %}
    {% endif %}
{% endblock actions %}
