{% extends "base.html" %}

{% block body %}
    <h3>Tasks:</h3>
    {% include  'tasks/task_list.html' %}
{% endblock body %}

{% block actions %}
    <div class="btn-group-vertical">
        <a class="btn btn-success btn-lg" href={% url 'tasks:create_task' %}> Add task </a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Statuses
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'tasks:index' %}"> All </a>
                {% for status in status_list %}
                    <a class="dropdown-item" href="{% url 'tasks:status_order' status %}"> {{ status }} </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock actions %}