<a href="{% url 'tasks:task_details' task.id %}" class="card list-group-item-action shadow">
    <div class="card-header py-0" style="background: {{task.status.color}}; color: {{task.status.text_color}};">
        {{ task.status }}
    </div>
    <div class="card-body">
        <h5><u> {{ task }} </u></h5>
        {% if task.level.project.name %}
            <p> <b> Project: </b> {{ task.level.project.name }} </p>
        {% endif %}
    </div>
    <div class="card-footer py-0">
        <div class="row">
            <div class="col">
                <b>Finish:</b> {{ task.finish_date|date:"d M. Y" }}
            </div>
            <div class="col-4 text-center border-left">
                <b> {{ forloop.counter }} </b>
            </div>                 
        </div>
    </div>
</a>