<div class="modal fade" id="taskModalP" tabindex="-  1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <form method="POST"></form>
        <div class="modal-dialog  modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"> Add task to {{ project }}</h5>
                </div>
                <div class="modal-body text-left">
                    {% csrf_token %}
                    {{ task_form.as_p }}
                </div>
                <div class="modal-footer">     
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger" type="submit">Add</button>
                </div>
            </div>
        </div>
    </form> 
</div>
