{% with a=level.id|stringformat:"i" %}
<div class="modal fade" id={{"stageModalP"|add:a}} tabindex="-  1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <form method="POST" class="needs-validation" novalidate action="{% url 'projects:create_level' project.pk level.pk%}">
        <div class="modal-dialog  modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"> Add stage to {{ level }}</h5>
                </div>
                <div class="modal-body text-left">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-4">
                            <label class="col-form-label">{{ level_form.name.label }}:</label>
                            {{ level_form.name }}
                        </div>
                        <div class="col-2">
                            <label class="col-form-label">{{ level_form.status.label }}:</label>
                            {{ level_form.status }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2">
                            <label class="col-form-label">{{ level_form.start_date.label }}:</label>
                            {{ level_form.start_date }}
                        </div>
                        <div class="col-2">
                            <label class="col-form-label">{{ level_form.finish_date.label }}:</label>
                            {{ level_form.finish_date }}
                        </div>
                    </div>
                    <div class="form-row markdown">
                        <div class="col-6">
                            <label class="col-form-label">{{ level_form.description.label }} (support <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown style</a>):</label>
                            {{ level_form.description }}
                        </div>
                        <div class="col-6">
                            <label class="col-form-label">Preview:</label>
                            <br>
                            <div class="preview-markdown markdown-content">{{ level_form.description.value }}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">     
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger" type="submit">Add</button>
                </div>
            </div>
        </div>
    </form> 
</div>
{% endwith %}  
