{% extends "base.html" %}

{% block body %}
    <div>
        <h3>
            {{ project }} <span class="badge" style="background: {{project.status.color}};"> {{ project.status }} </span>
        </h3>
        <span class="h5">Start date:</span> {{ project.start_date}}
        <span class="h5"> Finish date:</span> {{ project.finish_date}}
    </div>
    <div class="lead">
        {{ project.description }}
    </div>
    <div class="accordion p-3 mr-3 mt-3 border" id="accordionExample">
        <button type="button" class="btn btn-light btn-sm p-1 m-1"> <span class="badge badge-success">+</span> Add task</button>
        <button type="button" class="btn btn-light btn-sm p-1 m-1"  data-toggle="modal" data-target="#stageModalP"> <span class="badge badge-success">+</span> Add stage</button>
        {% for level in project.levels.all %}
            {% include "projects/level_card.html" %} 
        {% endfor %}
</div>
{% endblock body %}

{% block actions %}
        <div class="btn-group-vertical btn-block">
            <a class="btn btn-primary" href="{% url 'projects:update_project' project.pk %}">Edit</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                Delete
            </button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#taskModalP">
                Add task
            </button>
        </div>
        {% include "projects/delete_project.html" %}
        
        {% include "projects/create_level.html" %}
{% endblock actions %}
