{% extends "base.html" %}

{% block body %}
    <div>
        <h3>
            Project: {{ project }} 
            <span class="text-muted"> | {{ project.status }} </span>
        </h3>
        <span class="h5">Start date:</span> {{ project.start_date}}
        <span class="h5"> Finish date:</span> {{ project.finish_date}}
    </div>
    <div class="lead">
        {{ project.description }}
    </div>
    {% for level in project.levels.all %}
        {% include "projects/level_card.html" %}
        
    {% endfor %}
{% endblock body %}

{% block actions %}
        <div class="btn-group-vertical btn-block">
            <a class="btn btn-primary" href="{% url 'projects:update_project' project.pk %}">Edit</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                Delete
            </button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#taskModalP">
                Add task
            </button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#stageModalP">
                Add stage
            </button>
        </div>
        {% include "projects/delete_project.html" %}
        
        {% include "projects/create_level.html" %}
{% endblock actions %}
