<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript" src={% static 'script.js' %}></script>
    <title> ProjectManager </title>
</head>

<body class="container p-0">
    <header class="sticky-top mb-2">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'start_page' %}">ProjectManager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                  <ul class="navbar-nav ">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link tasks" href="{% url 'tasks:index' %}">Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link projects" href="{% url 'projects:index' %}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link out" href="{% url 'logout' %}">Sign out</a>
                        </li>
                        <li>
                            <a class="nav-link user" href="#">{{ user.username }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link login" href="{% url 'login' %}">Sign in</a>
                        </li>

                    <li class="nav-item">
                        <a class="nav-link register" href="{% url 'users:register' %}">Sign up</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            </nav>
    </header>

    <div class="row p-0" style="height: 85vh;">
        <div class="col col-10 border-right">
            {% block body %}
            {% endblock body %}
        </div>

        {% if user.is_authenticated %}
            <div class="col col-2">
                {% block actions %}
                {% endblock actions %}
            </div>
        {% endif %}
        
    </div>   
</body>
</html>