<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title> ProjectManager</title>
</head>

<body class="container">

    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">ProjectManager</h3>
            <nav class="nav nav-masthead justify-content-center navbar-dark bg-dark">
                <!-- <div class="navbar-brand">ProjectManager</div> -->
                <a class ="nav-link" href="{% url 'tasks:index' %}">Tasks</a>
                <a class ="nav-link" href="{% url 'tasks:status_list' %}">Statuses</a>
            </nav>
        </div>
    </header>
    {% block body %} {%endblock body %}
</body>
</html>