<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript" src={% static 'script.js' %}></script>
    <script type="text/javascript" src={% static 'valid_forms.js' %}></script>

    <title> ProjectManager </title>
</head>

<body class="container">
    <header class="sticky-top mb-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom px-0">
            <a class="navbar-brand col-2 mx-0" href="{% url 'start_page' %}">ProjectManager</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8 px-0" id="navbarNav">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link projects" href="{% url 'projects:index' %}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tasks" href="{% url 'tasks:index' %}">Tasks</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
            
            <div class='col-2 navbar-nav justify-content-end border-left border-secondary'>
                {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> {{ user.username }} </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Edit profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
                        </div>
                    </div>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">Sign in</a>
                        </li>
                        <li class="nav-item border rounded-lg bg-transparent">
                            <a class="nav-link text-white" href="{% url 'users:register' %}">Sign up</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block content %}
        <div class="row mx-0" style="height: 80vh;">
            <div class="col col-10 mr-0 p-0">
                {% block body %}
                {% endblock body %}
            </div>

            {% if user.is_authenticated %}
                <div class="col col-2 text-right pr-0 border-left">
                    {% block actions %}
                    {% endblock actions %}
                </div>
            {% endif %}
        </div>
    {% endblock content %}

    
</body>
</html>